.lista {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
}

.lista-titulo {
    font-size: 42px;
    color: var(--cor-fonte-botao)
}

.lista-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
}