.container-pesquisa {
    margin-top: 2em;
    width: 100%;
    background-color: var(--fundo-jogo);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.container-pesquisa img {
    width: 40px;
    padding: .5em;
}

.container-pesquisa input {
    width: 90%;
    padding-left: 1em;
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--fonte-jogo);
}

.container-pesquisa input::selection {
    border: none;
}