header,
.container-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

header {
    flex-direction: column;
    background-color: rebeccapurple;
    padding: 2em 0;
}

.botao-topo {
    width: 80px;
    height: 80px;
    padding: .5em;
    border-radius: 50px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: blueviolet;
    border: solid grey;

}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: dimgray
}

/* Hover */

.link:hover {
    color: aquamarine;
}

/* Media */

@media (max-width: 600px) {
    .link {
        font-size: 18px;
    }
}