header {
    width: 100%;
    height: 80px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: dimgray
}

/* Hover */

.link:hover {
    color: aquamarine;
}

/* Media */

@media (max-width: 600px) {
    .link {
        font-size: 18px;
    }
}