* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100%;
    width: 100%;
    min-width: 375px;
    background-color: var(--fundo);
}


.light {
    height: 100%;
    --fundo: #fff;
    --fundo-topo: #663399;
    --cor-botao: #8a2be2;
    --borda-botao: #808080;
    --cor-link: #c0b9b9;
    --destaque-link: #7fffd4;
    --fonte-jogo: #fff;
    --fundo-jogo: #000;
    --xbox: #008000;
    --play: #0000ff;
    --nintendo: #ff0000;
    --cor-fonte-botao: #000;
}

.dark {
    height: 100%;
    --fundo: #252525;
    --fundo-topo: #181818;
    --cor-botao: #3b0e66;
    --borda-botao: #808080;
    --cor-link: #c0b9b9;
    --destaque-link: #7fffd4;
    --fonte-jogo: #fff;
    --fundo-jogo: #000;
    --xbox: #008000;
    --play: #0000ff;
    --nintendo: #ff0000;
    --cor-fonte-botao: #fff;
}